body {
    background-color: #18122B;
    color: #635985;
}

header {
    color: #FFFFF0;
}

nav {
    background-color: #18122B;
}

.menu-icon div{
    background-color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-menu a {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.overlay-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.contact_form {
    background-color: #18122B;
}

nav ul li a {
    color: #FFFFF0;
}

button {
    background: #AD88C6; 
    color: #18122B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background: #DAD3BE ; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.download-button {
    color: #18122B;
    background-color: #ACB1D6;
}

.download-button:hover {
    background-color: #DAD3BE;
}

.end {
    background-color: #18122B;
    color: #393053;
}

.background-shape {
    background: rgba(255, 255, 255, 0.1);
}

.theme-toggle-button {
    background-color: #ffffff;
    color: #000000;
}



